### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Input Text ###
C:\Users\eilee\IdeaProjects\AOC_2025\Day1_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day2_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day3_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day4_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day5_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day6_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day7_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day8_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day9_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day10_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day11_Input.txt
C:\Users\eilee\IdeaProjects\AOC_2025\Day12_Input.txt